.noticias-list-container {
  padding: 15rem;
  background: #ffffff69;
  border-radius: 16px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
  position: relative;
  right: 35rem;
  bottom: 7rem;
}

.noticia-card {
  border: 1px solid #ececec36;
  border-radius: 12px;
  padding: 1rem;
  background: #f9f9f941;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.04);
}

.noticia-card img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}
