.noticias-list-container {
  padding: 1rem;
  max-width: 500px;
  margin: 0 auto;
  background: #ffffff69;
  border-radius: 16px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
  justify-content: baseline;
}

.noticia-card {
  border: 1px solid #ececec00;
  border-radius: 12px;
  padding: 0.5rem;
  background: #00000036;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.04);
  font-size: 0.95rem;
}

.noticia-card img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.imagem-carrossel {
  width: 100%;
  max-width: 400px;
  height: 250px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
