.noticia-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* centraliza verticalmente */
  align-items: center; /* centraliza horizontalmente */
  min-height: 80vh; /* ocupa a maior parte da tela */
}
