/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(180deg, #051011 0%, #4fc3f7 50%, #01579b 100%);
}
